@use 'tailwindcss';

@theme {
  --color-beige-bg: initial;
  --color-beige: #f5f5dc;

  --color-rebeccapurple-bg: initial;
  --color-rebeccapurple: #663399;

  --color-gray-bg: initial;
  --color-gray: #808080;
}

@layer components {
  .btn {
    @apply no-underline bg-gray-200  border cursor-pointer;
    @apply text-gray-800 font-bold text-base font-sans leading-4;
    @apply w-6 py-0.5 px-1.5;
    border-top-color: #cccccc;
    border-right-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #cccccc;
  }

  .btn-gray {
    @apply bg-white text-black border-2;
    border-color: #e7e7e7;
  }

  .btn-gray:hover {
    background-color: #e7e7e7;
  }

  .btn-blue {
    @apply bg-white text-black border-2;
    border-color: #008cba;
  }

  .btn-blue:hover {
    @apply text-white;
    background-color: #008cba;
  }

  .row {
    @apply flex;
  }

  .column {
    @apply flex flex-col p-4;
  }
}
